@page "/google-success"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<h3 class="text-center">Google Login Success</h3>


@code {
    // private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        // var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        // user = authState.User;

        // if (user.Identity == null || !user.Identity.IsAuthenticated)
        // {
        //     Navigation.NavigateTo("/login");
        // }
    }
}
