@page "/"
@rendermode InteractiveServer
@using Component
@using Syncfusion.Blazor.Navigations

<PageTitle>Home</PageTitle>

<div class="main-container">
    <header class="header">
        <Navbar />
        <Search />
    </header>

    @* <Carousel /> *@

    @* <InterestAlert /> *@
</div>

<style>
    .main-container {
        display: flex;
        flex-direction: column;
        background: rgb(245, 249, 245);
    }

    .header {
        margin: 0px auto;
        width: 100%;
        border-bottom: 1px solid lightgray;
    }
</style>